@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}

<meta name="viewport" content="width=device-width, initial-scale=1">

nav {
	font-family: 'Cherry Cream Soda', cursive;
	color:#000000;
	font-size: 16px;
	padding-bottom: 0;
	text-align: left;

}

a {
	padding:10px;
	color:#000000;
}

a:hover{
	color:#e73232;
}

body {
	color:#333;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	line-height:1.3;
	background: rgb(135,180,222);
	background: -moz-linear-gradient(top,  rgba(135,180,222,1) 0%, rgba(94,126,193,1) 27%, rgba(135,180,222,1) 47%, rgba(105,133,196,1) 66%, rgba(135,180,222,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(135,180,222,1) 0%,rgba(94,126,193,1) 27%,rgba(135,180,222,1) 47%,rgba(105,133,196,1) 66%,rgba(135,180,222,1) 100%);
	background: linear-gradient(to bottom,  rgba(135,180,222,1) 0%,rgba(94,126,193,1) 27%,rgba(135,180,222,1) 47%,rgba(105,133,196,1) 66%,rgba(135,180,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b4de', endColorstr='#87b4de',GradientType=0 );


}

h1 {
	font-family: 'Cherry Cream Soda', cursive;
	text-align: center;
	font-size: 30px;
}

h2 {
	font-family: 'Open Sans',sans-serif;
	font-size: 20px;
	text-align: center;
}

#intro{
	background-image: url(../images/mountain-2158661_1920.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;
	height:90vh;
	padding:2em 0 7em 2em;
}

#donatenowbox{
	float:right;
	padding:1em 1em 1em 1em;
	color: #FFFFFF;
	font-family: 'Open Sans',sans-serif;
	font-weight: bolder;
	background-color:#e73232;
	margin: 0 5em 0 0;
}




#sitetitle {
	padding: 8em 0 0 10em;
}


#first{
	padding:3em 1em 3em 4em;
    margin:3em auto;
}

blockquote {
	margin:0;
}
	blockquote p{
		padding-top:1em;

	}

cite {
	padding-bottom:3em;
}


.movie {
	padding: 4em 0 4em 0;
	background-color:#4289DB;
	align-content:center;
	float:left;

}

#column1 {
	float: left;
	width: 48%;
	padding: 4em 0 4em 0;
	margin-left: 2%;
}

#column2 {
	float: right;
	width: 47%;
	padding:8em 0 4em 0;
	margin-right: 3%;
}

#inspire {
	padding: 2em 0 3em 0;

}

#column3 {
	float: left;
	width: 50%;
	padding:2em;
	text-align:left;
}

#children {
	padding:3em 1em 1em 0;

}

#more {
	padding:1em 1em 0 0 ;
}

#column4 {
	float: right;
	width: 48%;
	margin-right: 2%;
	padding: 1em;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear: both;
	height: 0;
}

#help {
	width:100%;
	padding:2em 0 3em 0;

}

#everysaint {
	text-align:left;
	padding:2em 0 3em 0;
	
}

#column5 {

	float:left;
	text-align:left;
	width:30%;

}

#howcan {

	padding:6em 0 3em 0;
	margin-left: 3em;

}

#unorderedlist {
	margin-left: 3em;
	padding-top: 3em
}

#column6 {
	float:right;
	width: 65%;
	text-align: right;
	margin-right:.5em;

}



footer {
	background-color:#0C2644;
	color:#ffffff;
	margin:2em 0 0 0;
	padding:10em 0 5em 0;
	text-align:center;
}

#contact {
	margin: 2em 0 3em 0;
}

@media only screen and (min-width: 553px){
	.section {
		float: none;
		width: auto;
	}
}
